<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문의세부사항</title>
</head>
<body>
<h1>Inquiry Detail</h1>
<h3><a th:href="@{/client/inquiry/main/{id}(id=${inquiry.clientId})}">메인홈</a></h3>
<div>


    <label>제목</label>
    <label>
        <input type="text" th:value="${inquiry != null ? inquiry.title : ''}" readonly>
    </label><br/>

    <label>분류</label>
    <label>
        <input type="text" th:value="${inquiry != null ? inquiry.category : ''}" readonly>
    </label><br/>

    <label>내용</label>
    <label>
        <input type="text" th:value="${inquiry != null ? inquiry.content : ''}" readonly>
    </label><br/>

    <label>문의날짜</label>
    <label>
        <input type="text" th:value="${inquiry != null ? inquiry.createdDate : ''}" readonly>
    </label><br/>

    <label>고객아이디</label>
    <label>
        <input type="text" th:value="${inquiry != null ? inquiry.clientId : ''}" readonly>
    </label><br/>

    <label>확인여부</label>
    <label>
        <input type="text" th:value="${inquiry.isAnswered} ? '답변완료' : '미답변'" readonly>
    </label><br/>


    <div th:if="${csManagerAnswer !=null}">
        <label>고객담당자</label>
        <label>
            <input type="text" th:value="${csManagerAnswer.csManagerName}" readonly>
        </label><br/>
        <label>답변내용</label>
        <label>
            <input type="text" th:value="${csManagerAnswer.content}" readonly>
        </label><br/>
        <label>답변시간</label>
        <label>
            <input type="text" th:value="${csManagerAnswer.answeredDate}" readonly>
        </label><br/>

    </div>


    <div th:if="${inquiry.imageFiles != null}">
        <h3>업로드파일:</h3>
        <ul th:each="imageFile : ${inquiry.imageFiles}">
            <li>
                <p>파일가져오기성공</p>
                <img th:src="@{/client/inquiry/image/{fileId}(fileId=${imageFile.imageFileNum})}" alt="Image" style="max-width: 200px; max-height: 200px;">
                <a th:href="@{/client/inquiry/download/{fileId}(fileId=${imageFile.imageFileNum})}" th:text="${imageFile.fileName}"></a>
            </li>
        </ul>
    </div>
</div>

</body>