<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학생상세정보보기(성적, 평가제외)</title>
</head>
<body>
    <form method="post" action="/student/modify">
        아이디: <span type="text" name="id" th:text="${student.id}"></span><br />
        비밀번호: <input type="password" name="password"  th:value="${student.password}" style="border:none" /><br />
        이름: <span type="text" name="name"  th:text="${student.name}"></span><br />
        이메일: <span type="email" name="email"  th:text="${student.email}"></span><br />
        <a th:href="'/student/modify/' + ${student.id}">정보수정</a>
</form>
</body>
</html>