<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학생상세정보보기(성적, 평가제외)</title>
</head>
<body>
<form method="post" action="/student/modify">
    <span th:text="#{id}" ></span>: <span type="text" name="id" th:text="${student.id}"></span><br />
    <span th:text="#{password}" ></span>: <input type="password" name="password"  th:value="${student.password}"  style="border:none" /><br />
    <span th:text="#{name}" ></span>: <span type="text" name="name"  th:text="${student.name}"></span><br />
    <span th:text="#{email}" ></span>: <span type="email" name="email"  th:text="${student.email}"></span><br />
    <a th:href="'/student/modify/' + ${student.id}">정보수정</a><br/>
    <a th:href="'/student/view/' + ${student.id} + '?hideScore=yes&locale=ko'">한국어</a>
    <a th:href="'/student/view/' + ${student.id} + '?hideScore=yes&locale=en'">영어</a>
</form>
</body>
</html>